.app {
  display: flex;
  padding: 2rem 1.5rem;
  max-width: 1900px;
  min-height: 100vh;
  background-color: #D6D6D6;
  background-image: url('./assets/images/background-offers.png');
  background-repeat: no-repeat;
  background-position: 50% 75%;
  background-size: contain;
}

.app_dark {
  background-color: #1D1D1D;
}

.app__content {
  margin-left: 1.5rem;
  width: 100%;
}